includes:
    - phpstan-baseline.neon

parameters:
    level: max
    paths:
        - example
        - src
        - tests
    checkBenevolentUnionTypes: true
    #ignoreErrors:
    #    - { identifier: missingType.generics }
    #    - { identifier: return.unusedType }
    editorUrl: ''
    editorUrlTitle: '%%file%%:%%line%%'
    tmpDir: ./var/phpstan
    stubFiles:
        - stubs/amphp.phpstub
