parameters:
    level: max
    paths:
        - examples
        - src
        - tests
    checkBenevolentUnionTypes: true
    editorUrl: ''
    editorUrlTitle: '%%file%%:%%line%%'
    tmpDir: ./var/phpstan
    stubFiles:
        - stubs/amphp.phpstub
